<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/details.css">
    <title>Details Page</title>
</head>
<body>
    <header>
        <h1>Infos About {{.Name}}</h1>
    </header>
    <div class="container">
        <div class="userinfos">
            <h2  class="cc">The creation date is:</h2>
            <p>&nbsp&nbsp{{.CreationDate}}/</p>
            <h2  class="cc">&nbsp&nbspThe members are:</h2>
                {{range .Members}}
                    <p>&nbsp&nbsp{{.}} /&nbsp</p>
                {{end}}
            <h2  class="cc">&nbsp&nbspThe first album is:</h2>
            <p>&nbsp&nbsp{{.FirstAlbum}}</p>
            <h2  class="cc">&nbsp&nbspThe Dates of concerts are:</h2>
            {{range .Dates}}
            <div class="relations">
                <p>&emsp;{{.}}</p>
            </div>
            {{end}}
       </div>
       
       <div class="userinfos">
        
        <h1 class="cc">Relations:</h1>
        {{range $key, $value := .Relations}}
            <div class="relations">
                <h3 class="cc">&nbsp{{ $key }}:</h3>
                    {{range $value}}
                             <p>&emsp;{{.}} /&nbsp</p>
                         {{end}}
                 </div>
             {{end}}
        
            <h1 class="cc">locasations:</h1>
        {{range .Localisations}}

                <div class="relations">
                    <p>&emsp;{{.}}</p>
                </div>
            {{end}}
        </div>
    </div>
    <br><br>
    <div class="center-button">
        <a href="/"><button  class="return-button">Return</button></a><br>
    </div>
</body>
</html>
