<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>welcome</title>
</head>
<body>
    <header class="search-bar">
        <h1>Artist</h1>
    </header>
    <section class="hero">
        <pre>Groupie-Tracker
Infos About Your Favourite Artist</pre>
    </section>
    <div class="artistcontainer">
        {{range .}}
        <div class="artist">
                <a href="/artist?ID={{.ID}}" style="text-decoration: none; color: inherit;">
                    <div class="card-content">
                        <img class="imge" src="{{.Image}}" alt="Artist Image"><br><br>
                        <strong>{{.Name}}</strong>
                    </div>
                </a>
        </div>
        {{end}}
   </div>
   <footer>
        <p>Author : achraf OUCHCHATE</p>
        <P>Github : aouchcha</P>
        <p>email : ouchchatea@gmail.com</p>
   </footer>
</body>
</html>