<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>welcome</title>
</head>
<body>
    <header class="search-bar">
        <marquee behavior="" direction="">Artist</marquee>
    </header>
    
    <div class="artistcontainer">
        {{range .}}
        <a class="artist" href="/artist?ID={{.ID}}" style="text-decoration: none; color: inherit;">
                    <img class="imge" src="{{.Image}}" alt="Artist Image"><br>
                    <strong>{{.Name}}</strong>
                </a>
        {{end}}
   </div>
   <footer>
        <p>Author : achraf OUCHCHATE</p>
        <P>Github : aouchcha</P>
        <p>email : ouchchatea@gmail.com</p>
   </footer>
</body>
</html>