body{
    background:black;
    color:#000000;
    margin: 0%;
    padding: 0%;
    height: 100vh;
}
.artistcontainer{
    margin: 5% 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.artist{
    text-align: center;
    border: 2px solid black;
    margin: 1% 2%;
    background: black;
}

header{
    background: #102e0c;
    color: #ffffff;
    width: 98%;
    margin-bottom: 0%;
    padding: 1%;
}

strong{
    font-size: larger;
    color: #ffffffe1;
}

.imge{
    width: 100%;
    opacity: .5;
} 

.imge:hover{
    transform: scale(1.24);
    opacity: 1;
    transition-duration: .5s;
    border: #ffffff solid 2px;
}

marquee{
    font-size: 32px;
    font-weight: 700;
}
 footer{
    display: flex;
    justify-content: space-between;
    background: #102e0c;
    color: #ffffff;
    margin-bottom: 0%;
    padding: 1%;
 }

@media ( max-width: 530px) {
    .artistcontainer{
        margin : 5% 20%;
    }
}