body{
    background: linear-gradient(to right  , #fbe698 , #5252e9);
    color:#000000;
    margin: 0;
}
.artistcontainer{
    /* padding-top: 5%; */
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 10%;
    grid-gap: 80px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.hero{
    background-image: url("/styles/hhh.png");
    background-size: cover;
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero pre {
    margin: 0%;
    color: #ff00d4;
    font-size: 8em;
    font-weight: bold;
}
.artist{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    background: rgb(174, 162, 189)
}
header{
    background: linear-gradient(to right , #5252e9 , #fbe698);
    color: #ffffff;
    width: 98%;
    margin-bottom: 0%;
    padding: 1%;
}

strong{
    font-size: larger;
}

/* .imge{
    transform: scale(1.1);
} */

h1{
    text-align: center;
}
 footer{
    display: flex;
    text-align: center  ;
    justify-content: space-between;
    /* margin: 2%; */
    margin-bottom: 0%;
    background: linear-gradient(to right , #5252e9 , #fbe698);
    color: #ffffff;
    width: 98%;
    margin-bottom: 0%;
    padding: 1%;
 }

@media (min-width: 769px) and (max-width: 1676px) {
    .artistcontainer{
        font-size: 1em;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 40px;
        padding: 0 0%;
        align-items: center;
    }
    .imge{
        transform: scale(1);
    }
    .hero pre {
        margin: 0%;
        color: #ff00d4;
        font-size: 2em;
        font-weight: bold;
    }
    
}
@media (min-width: 426px) and (max-width: 768px) {
    .artistcontainer{
        font-size: 1em;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 40px;
        padding: 0 0%;
        align-items: center;
    }
    .imge{
        transform: scale(1);
    }
    .hero pre {
        margin: 0%;
        color: #ff00d4;
        font-size: 2em;
        font-weight: bold;
    }
    
}
@media (max-width: 425px) {
    .artistcontainer{
        grid-template-columns: 1fr;
        display: inline-flexbox;
        padding: 0 0%;
        margin: auto;
    }
    .body{
        font-size: xx-small;  
    } 
    
    .imge{
        transform: scale(1);
    }
    .hd{
        font-size: small;

    }
    .hero pre {
        margin: 0%;
        color: #ff00d4;
        font-size: 1em;
        font-weight: bold;
    }
}